---
import { formatPostDateQuiet } from "../utils/posts";

interface Props {
  updatedDate: Date;
}

const { updatedDate } = Astro.props;
---

<div class="post-card__meta post-card__meta--updated">
  <span class="post-card__date">
    <span aria-hidden="true">✏️</span>
    Updated{" "}
    <time datetime={updatedDate.toISOString()}>
      {formatPostDateQuiet(updatedDate)}
    </time>
  </span>
</div>
