---
import {
  formatPostDateQuiet,
  getReadingTimeLabel,
  type BlogPost,
} from "../utils/posts";

interface Props {
  post: BlogPost;
}

const { post } = Astro.props;
---

<div class="post-card__meta">
  <span class="post-card__date">
    <span aria-hidden="true">📅</span>
    <time datetime={post.data.pubDate.toISOString()}>
      {formatPostDateQuiet(post.data.pubDate)}
    </time>
  </span>
  <span class="post-card__read">
    <span aria-hidden="true">⏱</span>
    {getReadingTimeLabel(post)}
  </span>
</div>
